{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
        <section>
            <div>            
                <h1>{{name}}</h1>
                <hr>
                <div class="text-success">
                </div>
                {{#with history}}
                <div> founder in {{year}} by {{founder}}
                </div>
                {{/with}}
            </div>
        <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            {{name}}
        </button>
        </p>
            <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{description}}
            </div>
            </div> 
        </section>   
    
            <div>
                <section> <h3>types</h3>  
                    <ul class="list-group">    
                    {{#each types}}  <li class="list-group-item"> {{.}} </li> {{/each}}
                    </ul>
                </section>
            </div>

            <div>
                <section> <h3>syntax</h3>
                    <ul>   
                    {{#with syntax}}

                        <li> variables            
                            <ul class="list-group">                 
                                <li class="list-group-item"> 
                                    {{#each variables}}  
                                    {{.}}
                                    {{/each}}                      
                                </li>    
                            </ul>
                        </li>

                        <li> functions            
                            <ul class="list-group">                 
                                <li class="list-group-item"> 
                                    {{#each functions}}  
                                    {{.}}
                                    {{/each}}                      
                                </li>   
                            </ul>
                        </li>

                        <li> conditionals            
                            <ul class="list-group">                 
                                <li class="list-group-item"> 
                                    {{#each conditionals}}  
                                    {{.}}
                                    {{/each}}                      
                                </li>     
                            </ul>
                        </li>

                        <li> loops            
                            <ul class="list-group">                 
                                <li class="list-group-item"> 
                                    {{#each loops}}  
                                    {{.}}
                                    {{/each}}                      
                                </li>     
                            </ul>
                        </li>

                        <li> classes            
                            <ul class="list-group">                 
                                <li class="list-group-item"> 
                                    {{#each classes}}  
                                    {{.}}
                                    {{/each}}                      
                                </li>     
                            </ul>
                        </li>
                    {{/with}}
                    </ul>
                </section>
            </div>

            <div>
                <section> <h3>features</h3>  
                    <ul class="list-group">    
                    {{#each features}}  <li class="list-group-item"> {{.}} </li> {{/each}}
                    </ul>
                </section>
            </div>

            <div>
                <section> <h3>tools</h3>  
                    <ul class="list-group">    
                    {{#each tools}}  <li class="list-group-item"> {{.}} </li> {{/each}}
                    </ul>
                </section>
            </div>

            <div>
                <section> <h3>community</h3>  
                {{#each community}}
                    <ul class="list-group"> {{type}}  
                    <li class="list-group-item"> <button type="button" class="btn btn-outline-primary">{{name}}</button> </li>
                    </ul>
                 {{/each}}
                </section>
            </div>

</div>







        {{!-- {{#each name}}
        <dl>
            <div>
                <dt><h3>{{name}} ver. {{version}}</h3></dt>
                <br>
                    <dd>{{description}}
                        
                        <div> 
                            {{#with elements}} <h3>elements</h3> {{/with}}
                            {{#each elements}}                          
                            <dl>
                                <dt><b>{{name}}</b></dt>
                                <dd>{{description}}</dd>
                                <ul> <h4>attributes:</h4>
                                    <li> 
                                        {{#each attributes}}
                                            <dt>{{name}}</dt>
                                            <dd>{{description}}</dd>
                                         {{/each}}
                                    </li>
                                </ul>
                            </dl>
                            {{/each}}                            
                        </div>

                        <div> 
                            {{#with properties}} <h3>properties:</h3> {{/with}}
                            {{#each properties}}                          
                            <dl>
                                <dt><b>{{name}}</b></dt>
                                <dd>{{description}}</dd>
                                <ul> <h4>values:</h4>

                                        {{#each values}}
                                            <li>
                                            <dt>{{value}}</dt>
                                            <dd>{{description}}</dd>
                                            </li>
                                         {{/each}}
                                </ul>
                            </dl>
                            {{/each}}                            
                        </div>
                        <div> 
                            {{#with functions}} <h3>functions:</h3> {{/with}}
                            {{#each functions}}                          
                            <dl>
                                <dt><b>{{name}}</b></dt>
                                <dd>{{description}}</dd>
                                <ul>parameters:

                                        {{#each parameters}}
                                            <li>
                                            <dt> <b>{{name}}</b>, type <b>{{type}}</b></dt>
                                            <dd>{{description}}</dd>
                                            </li>
                                         {{/each}}
                                </ul>
                            </dl>
                            {{/each}}                            
                        </div>





                    </dd>
                
                    
            </div>
            
        </dl>
        {{/each}}
    </section>
</div> --}}

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
