
<main>
<h1> L2 Module 4-6.1 "shopcart"</h1>
<div class="card">
    <div class="card-body">
        {{#with navigation}}
            <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {{#each links}}
                    <li class="breadcrumb-item"><a href="{{href}}">{{text}}</a></li>
                    {{/each}}
                    <li class="breadcrumb-item active" aria-current="page">Disabled</li>
                </ol>
            </nav>
        {{/with }}
    </div>
</div>
<header>
    {{#with header}}
    <h2>{{title}}</h2>
    {{#with button}}
    <a type="button" class="btn btn-outline-secondary" link="{{link}}" >{{text}}</a>
    {{/with}}
    {{/with}}    
</header>
<hr>

{{!-- goodsBlock --}}
<div>
    {{#each goodsBlock}}
 	{{> cartGoodsItem}}
    {{/each}}
</div>
<hr>
<div>
    {{#with total}}

        <h5>{{title}}</h5>
        <H4>{{amount}}</H4>
        <P>{{delivery}}</P>
        {{#each buttons}}
        <button type="button" class="btn btn-{{#if isOutline}}outline-success{{/if}}{{#if isSuccess}}success{{/if}}" link="{{link}}" >{{text}}</button>
        {{/each}}
    {{/with}}
</div>
<hr>
<section>
    {{#with subscribe}}
        <div class="card bg-dark text-white">
        <div class="card-body">
            <h2 class="card-title">{{header}}</h2>
            <p class="card-text">{{description}}</p>
            {{#each buttons}}
            <div class="flex-column m-2">    
            <a href={{link}} class="btn btn-primary">{{text}}</a>
            </div>
            {{/each}}
        </div>
        </div>    
    {{/with}}
</section>

<section>
    {{#with goodsOtherBlock}}
        
        <div>
            <ul class="nav nav-tabs mb-3">
                {{#each tabs}}              
                        <li class="nav-item">                    
                            <a class="nav-link {{#if isActive}} active {{/if}}  {{#if isDisabled}} disabled {{/if}}" aria-current="page" href="#">{{text}}</a>                     
                        </li>
                 {{/each}}
            </ul>
        </div>

        <div class="row">
            {{#each cards}}
                <div class="card  m-0 p-0 col-4" style="max-width: 18rem;">                    
                    <div class="card-body bg-light p-0 m-1">
                        <img src={{image}} class="card-img-top" alt={{title}}>
                            <div class="card-header m-0 p-0">
                                <h6 class="m-1 p-1">{{title}} 
                                {{#if idNew includeMore=true}} <span class="badge text-bg-success">Нова</span> {{/if}}
                                {{#if isHot includeMore=true}} <span class="badge text-bg-danger">Топ</span> {{/if}}
                                </h6>
                            </div>
                            <div class="card-body m-1 p-1">
                                <div class="card-title">{{description}}</div>
                            </div>
                    </div>    
                </div>
            {{/each}}
        </div>
    {{/with}}
</section>
<hr>
<footer>
    <div class="row g-5">
            {{#each footer}}
                <div class="nav col-2">
                    {{#each this}}
                        <a class="nav-link {{#if @last}} disabled {{/if}}" href={{link}}>{{text}}</a>
                    {{/each}}
                </div>     
            {{/each}}
    </div>    
</footer>