{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<br>

<section>
    {{#with heading}}
        <div class="card">
                <div class="card-body"> 

                    <div class="card">
                        <div class="card-body">     
                            {{#with main}}
                                <h1>{{title}}</h1>
                                <div>
                                    <p class="lh-1"></p>{{text}}</p>
                                </div>

                                {{#with button_text}}
                                    <div>                    
                                    <button type="button" class="btn btn-primary">{{solid}}</button>
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-outline-primary">{{outline}}</button>
                                {{/with}} 
                            {{/with}} 
                        </div>                      
                    </div> 
<br>
                     <div class="card">
                        <div class="card-body">     
                            {{#with second}}
                                <h2>{{title}}</h2>
                                <div>
                                    <p class="lh-1"></p>{{text}}</p>
                                </div>

                                {{#with button_text}}
                                    <div>                    
                                    <button type="button" class="btn btn-secondary">{{solid}}</button>
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-outline-secondary">{{outline}}</button>
                                {{/with}} 
                            {{/with}} 
                        </div>                      
                    </div> 
<br>
                     <div class="card">
                        <div class="card-body">     
                            {{#with subblock}}
                                <h3 class="text-subblock">{{title}}</h3>
                                <div>
                                    <p class="lh-1"></p>{{text}}</p>
                                </div>

                                {{#with button_text}}
                                    <div>                    
                                    <button type="button" class="btn btn-dark">{{solid}}</button>
                                    </div>
                                    <br>
                                    <button type="button" class="btn btn-outline-dark">{{outline}}</button>
                                {{/with}} 
                            {{/with}} 
                        </div>                      
                    </div> 
                </div> 
        </div>
    {{/with}}
</section>

<section>
    {{#with nested_display}}
        <div class="card">
                <div class="card-body"> 
                    <h1 class="display-1">{{title}}</h1>
                    <div class="card">
                        <div class="card-body">   
                                <div>
                                </div>
                                {{#with children_display}}
                                    <h1 class="display-4">{{title}}</h1>
                                    <p class="lh-1"></p>{{text}}</p>
                                    <div> 
                                        {{#with button}} 
                                        <button type="button" class="btn btn-outline-warning">{{text}}</button>                  
                                    {{!-- <button type="button" class="btn btn-info text-light">{{text}}</button> --}}
                                        {{/with}}
                                    </div>
                                {{/with}} 
                        </div>                      
                    </div> 
                    <br>
                    <div>
                        <h6>{{header_text}}</h6>
                        <button type="button" class="btn btn-info text-light">{{button.text}}</button>
                    </div>
        </div>
    {{/with}}
</section>

<section>
    {{#with paragraph}}
        <div class="card">
                <div class="card-body"> 
                    <p class="text-uppercase">{{title}}</p>
                    <p class="text-lowercase">{{text}}</p>

                    {{#with button}}
                    <button type="button" class="btn btn-link" href="{{url}}">{{text}}</button>
                    {{/with}}

                    <div class="card">
                        <div class="card-body">   
                            
                                <ul>
                                    {{#each list_name}}
                                    <li>
                                         <button type="button" class="btn btn-link" href="{{url}}">{{text}}</button>
                                    </li>
                                    {{/each}}
                                </ul>
                            
                                
                        </div>                      
                    </div> 
                </div>
        </div>
    {{/with}}
</section>





